.site-images{
    position:relative;
    border-width:2px;
    width:80%;
    height: 100%;
    float: left;
}

.name-page{
    position: relative;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #dcdcdc;
}

.url-screenshoot{
    position:relative;
    border-width:2px;
    width: 50%;
    height:100%;
    background-color: #F8F9FA;
    font-size: 15px;;
}
.url-screenshoot h3{
    font-size: 1rem;
    height: 60px;
    width: 100px;
    margin-left: 60px;
    margin-bottom: 10px;
}

.url-screenshoot img {
    margin-left: 60px;
    width: 100%;
    border: 1px solid black;
}

.button-modal{
    padding: 10px;
    margin: 10px;
}