html, body{
  height: 100%;
}

nav.sidebar :global(.navbar-brand) :global(.glyphicon) {
  margin-right: 0px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #F8F9FA;
}

.menu{
    width: 100%;
    background-color: gainsboro;
}

.menu h4{
  text-align: center;
  padding: 10px; 
  margin-left: 80px;
  font-size: medium;
}

.menu h2{
    text-align: center;
    padding: 10px;
    margin-left: 80px;
}

.back{
  width: 50px;
  height: 50px;
}

.logo{
  margin: 0 auto;
  width: 7%;
  padding: 10px;

}

.sidenav {
  height: 100%;
  position: relative;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color:#F8F9FA;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav p{
  margin-left: 20px;
}

.sidenav a:hover {
  color: black;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 30px;
  font-family: monospace;
  background: #2E69C9;
  transition: .3s;
}

.footer {
  position: relative;
  bottom: 0px;
  width: 100px;
  background-color: black;
}